<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>February 19<sup>th</sup><h4>GBIF community workshop</h4></h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/11-coffeetesting/index.html">Registration and Welcome</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:15</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/01-introduction/index.html">Introduction to GBIF</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:45</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">GBIF structure</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:15</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/03-data-cleaning/index.html">GBIF Governance</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:45</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>11:15</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/03-data-cleaning/index.html">GBIF Nodes and network</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">Lunch</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">GBIF strategic framework</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>13:45</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/01-introduction/index.html">GBIF implementation plan</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14:45</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">GBIF work programmes</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>15:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/03-data-cleaning/index.html">GBIF Communications</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>16:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">Break</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 5   -->
        <td>17:00</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>February 20<sup>th</sup><h4>GBIF community workshop</h4></h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">Opportunities for nodes (CESP)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:15</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/01-introduction/index.html">GBIF Ambassador programme</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:45</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">GBIF Mentoring programme</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:15</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/03-data-cleaning/index.html">GBIF Community forum</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:45</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>11:15</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/03-data-cleaning/index.html">GBIF Nodes and network</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">Lunch</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">Develop a data mobilization strategy for Croatia</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>17:00</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
    </table> 
   </div>
</div>

<div class="row">        <!-- last two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>February 21<sup>th</sup><h4>Hands on data workshop</h4></h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/01-introduction/index.html">Introduction to Darwin Core</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>9:10</td>
        <td>
          Breakout Rooms
          <em>
            <ul>Darwin Core Terms</ul>
            <ul>Data Cleaning</ul>
            <ul>Openrefine</ul>
            <ul>Creating the Schema</ul>
            <ul>QA/QC, Metadata and Publishing</ul>
          </em>
        </td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">Lunch</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/03-data-cleaning/index.html">Data Cleaning</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>13:30</td>
        <td>
          Breakout Rooms
          <em>
            <ul>Darwin Core Terms</ul>
            <ul>Data Cleaning</ul>
            <ul>WoRMS lookup</ul>
            <ul>Creating the Schema</ul>
            <ul>QA/QC, Metadata and Publishing</ul>
          </em>
        </td>
      </tr>
      <tr>               <!-- row 5   -->
        <td>17:00</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>February 22<sup>th</sup><h4>Hands on Data workshop</h4></h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/04-create-schema/index.html">Darwin Core and Extension Schemas</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>13:10</td>
        <td>
          Breakout Rooms
          <em>
            <ul>Darwin Core Terms</ul>
            <ul>Data Cleaning</ul>
            <ul>Openrefine</ul>
            <ul>Creating the Schema</ul>
            <ul>QA/QC, Metadata and Publishing</ul>
            <ul>DNA derived data</ul>
          </em>
        </td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>14:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/05-break/index.html">Social Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/06-qa-qc/index.html">QA QC</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>15:10</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/07-validation-and-publishing/index.html">Metadata and publishing</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>15:20</td>
        <td>
          Breakout Rooms
          <em>
            <ul>Darwin Core Terms</ul>
            <ul>Data Cleaning</ul>
            <ul>WoRMS lookup</ul>
            <ul>Creating the Schema</ul>
            <ul>QA/QC, Metadata and Publishing</ul>
            <ul>DNA derived data</ul>
          </em>
        </td>
      </tr>
      <tr>               <!-- row 5   -->
        <td>17:00</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
     </table>
  </div>
</div>

<div class="row">        <!-- last two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>February 23<sup>th</sup><h4>Hands on and technical workshop</h4></h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/01-introduction/index.html">Introduction to Darwin Core</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>9:10</td>
        <td>
          Breakout Rooms
          <em>
            <ul>Darwin Core Terms</ul>
            <ul>Data Cleaning</ul>
            <ul>Openrefine</ul>
            <ul>Creating the Schema</ul>
            <ul>QA/QC, Metadata and Publishing</ul>
          </em>
        </td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">Lunch</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/03-data-cleaning/index.html">Data Cleaning</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>13:30</td>
        <td>
          Breakout Rooms
          <em>
            <ul>Darwin Core Terms</ul>
            <ul>Data Cleaning</ul>
            <ul>WoRMS lookup</ul>
            <ul>Creating the Schema</ul>
            <ul>QA/QC, Metadata and Publishing</ul>
          </em>
        </td>
      </tr>
      <tr>               <!-- row 5   -->
        <td>17:00</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>End</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/08-post-workshop/index.html" target="_blank">Post-workshop help & survey</a></td>
      </tr>
    </table>
</div>
</div>
