<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>February 19<sup>th</sup><h4>GBIF community workshop 1</h4></h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/01-welcome/index.html">Registration and Welcome</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:15</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-introduction-to-gbif/index.html">Introduction to GBIF</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:45</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/03-coffee/index.html">Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:15</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/04-gbif-nodes/index.html">GBIF Nodes and network</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/05-break/index.html">Lunch</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/06-gbif-programmes/index.html">GBIF session</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>14:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/07-gbif-policy/index.html">GBIF & policy</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>15:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/08-break/index.html">Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>15:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/09-gbif-science/index.html">GBIF & science</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>16:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/10-gbif-discussion/index.html">GBIF Discussion</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 11   -->
        <td>17:00</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>February 20<sup>th</sup><h4>Hands on and technical workshop 'cleaning'</h4></h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/11-belgian-node/index.html">The Belgian GBIF node</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:45</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/12-belgian-node/index.html">Best data management practices</a></td>        <!-- content -->
      </tr>
     <tr>               <!-- row 3   -->
        <td>10:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/22-break/index.html">Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/23-data-cleaning/index.html">Data Cleaning</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/24-break/index.html">Lunch</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/25-openrefine/index.html">Data Cleaning with Openrefine</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>15:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/26-break/index.html">Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>15:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/27-sqlite/index.html">Data cleaning with SQLite</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>17:00</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- last three days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>February 21<sup>th</sup><h4>Hands on Data workshop</h4></h3>
    <table class="table table-striped">
       <tr>               <!-- row 1   -->
        <td>9:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/21-introduction-darwin-core/index.html">Introduction to Darwin Core</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/26-break/index.html">Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/04-create-schema/index.html">Darwin Core and Extension Schemas</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>12:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/24-break/index.html">Lunch</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/04-create-schema/index.html">Darwin Core and Extension Schemas</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>15:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/05-break/index.html">Social Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>15:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/06-qa-qc/index.html">data validation</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>16:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/07-validation-and-publishing/index.html">Metadata and publishing</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>17:00</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
     </table>
  </div>
<div class="row">        <!-- last two days -->
  <div class="col-md-6"> <!-- right column -->
    <h3>February 22<sup>th</sup><h4>Technical workshop IPT</h4></h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/03-data-cleaning/index.html">IPT</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 2   -->
        <td>10:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">Lunch</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/03-data-cleaning/index.html">IPT administration</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">Lunch</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/03-data-cleaning/index.html">Github introduction</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>14:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/02-break/index.html">Discussion</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>17:00</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
    </table>
</div>
</div>
   <div class="col-md-6"> <!-- left column -->
    <h3>February 23<sup>th</sup><h4>GBIF community workshop</h4></h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/11-node-opportunities/index.html">Opportunities for nodes (CESP)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/12-ambassador/index.html">GBIF Ambassador programme</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/13-break/index.html">Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/14-mentoring/index.html">GBIF Capacity Enhancement programme</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/15-break/index.html">Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/16-bid/index.html">GBIF Bid programme</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/17-strategy/index.html">Develop Data mobilization strategy 1</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/18-break/index.html">Break</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>14:30</td>        <!-- time    -->
        <td><a href="{{ site.url }}{{ site.baseurl }}/19-strategy/index.html">Develop Data mobilization strategy 2</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 11   -->
        <td>17:00</td>        <!-- time    -->
        <td>Finish</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>End</td>
        <td><a href="{{ site.url }}{{ site.baseurl }}/08-post-workshop/index.html" target="_blank">Post-workshop help & survey</a></td>
      </tr>
    </table> 
   </div>
</div>
