{% comment %}
  Footer for a standard workshop.
{% endcomment %}
<footer>
  <hr/>
  <div class="row">
    <div class="col-md-6" align="left">
      <h4>
	<!--Copyright &copy; 2016–{{ 'now' | date: "%Y" }}-->
	{% if site.carpentry == "swc" %}
	<a href="{{ site.swc_site }}">Software Carpentry</a>
	{% elsif site.carpentry == "dc" %}
	<a href="{{ site.dc_site }}">Data Carpentry</a>
	{% elsif site.carpentry == "lc" %}
	<a href="{{ site.lc_site }}">Library Carpentry</a>
	{% elsif site.carpentry == "cp" %}
	<a href="{{ site.carpentries_site }}">The Carpentries</a>
	{% endif %}
      </h4>
    </div>
    <div class="col-md-6" align="right">
        	{% if page.source %}
			{% if page.source == "Rmd" %}
		<a href="{{repo_url}}/edit/{{ source_branch }}/{{page.path|replace: "_episodes", "_episodes_rmd" | replace: ".md", ".Rmd"}}" data-checker-ignore>Edit on GitHub</a>
			{% endif %}
			{% else %}
		<a href="{{repo_url}}/edit/{{ source_branch }}/{{page.path}}" data-checker-ignore>Edit on GitHub</a>
			{% endif %}
		/
		<a href="{{ repo_url }}/blob/{{ source_branch }}/CONTRIBUTING.md" data-checker-ignore>Contributing</a>
		/
		<a href="{{ repo_url }}/">Source</a>
		/
		<a href="{{ repo_url }}/blob/{{ source_branch }}/CITATION.cff" data-checker-ignore>Cite</a>
		/
		<a href="mailto:{{ site.email }}">Contact</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" align="center">
       Using <a href="https://github.com/carpentries/workshop-template">The Carpentries workshop-template</a>
       version <a href="https://github.com/carpentries/workshop-template/tree/ea92816066f40af1e305e08ce90fa8da498b24ec">ea92816066</a>.
    </div>
  </div>
</footer>
